body{
    background-color: pink;
}
@keyframes picanime {
    10%{
        rotate: 0deg;
    }
    35%{
        transform: rotateX('20deg');
    }
    45%{
        rotate: 150deg;
    }
    50%{
        rotate: 120deg;
    }
    100%{
        rotate: 37000000deg;
    }
}
.img{
    animation: picanime 2s 0.2s forwards infinite;
    margin-left: 50px;
}    
